<head>
    <title>채팅화면</title>
    <meta name="robotos" content="noindex, nofollow">
    <link rel="stylesheet" href="/chat-room.css">
    <link rel="stylesheet" href="/general.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
{% block content %}
<body>
{% include "header.html" %}
<div id="chat-body">
    <main class="chat-container">
        <!-- 채팅 내용 시작 -->
        <div class="main-header" style="border:1px solid;">
            {% if room.Owner.id===user %}
            <img class="profile-img" src="/uploads/profiles/{{room.Friend.profileImg}}" alt="">
            <div class="profile-col">
                <span class="profile-name">{{room.Friend.nick}}</span>
            </div>
            {% else %}
            <img class="profile-img" src="/uploads/profiles/{{room.Owner.profileImg}}" alt="">
            <div class="profile-col">
                <span class="profile-name">{{room.Owner.nick}}</span>
            </div>
            {% endif %}
            <div class="remove-chat-div">
                <a class="remove-chat"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
        </div>
        <div class="main-chat">
            {% for chat in chats %}
            {% if chat.user==user %}
            <div class="me-chat">
                <div class="me-chat-col">
                    {% if chat.gif %}
                    <img src="/uploads/chats/{{chat.gif}}" class="img_class"/>
                    {% else %}
                    <span class="balloon">{{chat.chat}}</span>
                    {% endif %}
                </div>
                <span class="me-date-time">{{chat.createdAt}}</span>
            </div>
            {% else %}
            <div class="friend-chat">
                <img class="profile-img" src="/uploads/profiles/{{chat.User.profileImg}}" alt="쀼프로필사진">
                <div class="friend-chat-col">
                    <span class="profile-name">{{chat.User.nick}}</span>
                    {% if chat.gif %}
                    <img src="/uploads/chats/{{chat.gif}}" class="img_class"/>
                    {% else %}
                    <span class="balloon">{{chat.chat}}</span>
                    {% endif %}
                </div>
                <span class="friend-date-time">{{chat.createdAt}}</span>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- 채팅 입력창 -->
        <div id="insert-content" style="border:1px solid;">
            <form id="chat-form" method="post" enctype="multipart/form-data">
                <input type="file" id="image" name="image" accept="image/gif">
                <input type="text" id="chat" name="chat"/>
                <button type="submit" id="submit" class="chat-submit" style="float:right">전송</button>
            </form>
        </div>
    </main>
</div>
</body>
{% endblock %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io.connect('http://localhost:8080/chat', {
        path: '/socket.io',
    });
    socket.emit('join', new URL(location).pathname.split('/').at(-1)); // 서버에 'join' 이벤트명으로 현재 주소에 있는 id 값을 보낸다.
    socket.on('join', function (data) { //서버에서 'join' 이벤트명으로 데이터 보낸걸 받는다.
        const div = document.createElement('div');
        div.classList.add('system');
        const chat = document.createElement('div');
        chat.textContent = data.chat;
        div.appendChild(chat);
        document.querySelector('.chat-content').appendChild(div);
    });

    socket.on('exit', function (data) { //서버에서 'exit' 이벤트명으로 데이터 보낸걸 받는다.
        const div = document.createElement('div');
        div.classList.add('system');
        const chat = document.createElement('div');
        chat.textContent = data.chat;
        div.appendChild(chat);
        document.querySelector('.chat-list').appendChild(div);
    });
    socket.on('chat', function (data, userData, dateTime) { //서버에서 'chat' 이벤트명으로 데이터 보낸걸 받는다.
        const div = document.createElement('div');
        console.log("userData:" + userData);
        if (data.user === {{user}}){
            div.classList.add('me-chat');
            if (data.chat) {
                const chat = document.createElement('div');
                chat.classList.add("me-chat-col")
                const chat_span = document.createElement("span");
                chat_span.classList.add('balloon');
                chat_span.textContent = data.chat;
                const date_span = document.createElement('span');
                date_span.classList.add("me-date-time");
                date_span.textContent = dateTime;
                chat.appendChild(chat_span);
                div.appendChild(chat);
                div.appendChild(date_span);
            } else {
                const chat = document.createElement('div');
                chat.classList.add("me-chat-col")
                const gif = document.createElement('img');
                gif.src = '/uploads/chats/' + data.gif;
                chat.appendChild(gif);
                div.appendChild(chat);
            }
        }
    else
        {
            div.classList.add('friend-chat');
            const profile_img = document.createElement("img");
            profile_img.classList.add('profile-img');
            profile_img.src = '/uploads/profiles/' + userData.profileImg;
            div.appendChild(profile_img);
            if (data.chat) {
                const chat = document.createElement('div');
                chat.classList.add("friend-chat-col");
                const profile_span = document.createElement("span");
                profile_span.classList.add("profile-name");
                profile_span.textContent = userData.nick;
                const chat_span = document.createElement("span");
                chat_span.classList.add('balloon');
                chat_span.textContent = data.chat;
                const date_span = document.createElement('span');
                date_span.classList.add("friend-date-time");
                date_span.textContent = dateTime;
                chat.appendChild(profile_span);
                chat.appendChild(chat_span);
                div.appendChild(chat);
                div.appendChild(date_span);
            } else {
                const chat = document.createElement('div');
                chat.classList.add("friend-chat-col")
                const gif = document.createElement('img');
                gif.src = '/uploads/chats/' + data.gif;
                chat.appendChild(gif);
                div.appendChild(chat);
            }
        }
        document.querySelector('.main-chat').appendChild(div);
    });
    document.querySelector('#chat-form').addEventListener('submit', function (e) {
        e.preventDefault();
        if (e.target.chat.value) {
            axios.post('/room/{{room.id}}/chat', {
                chat: this.chat.value,
            })
                .then(() => {
                    e.target.chat.value = '';
                })
                .catch((err) => {
                    console.error(err);
                });
        }
    });
    document.querySelector('#image').addEventListener('change', function (e) {
        console.log(e.target.files);
        const formData = new FormData();
        formData.append('image', e.target.files[0]);
        console.log(formData);
        axios.post('/room/{{room.id}}/img', formData)
            .then(() => {
                e.target.file = null;
            })
            .catch((err) => {
                console.error(err);
            });
    });
    $(document).ready(function () {
        // 채팅창의 jQuery 객체를 가져옵니다.
        var $chatContainer = $('.main-chat');

        // 스크롤을 맨 아래로 이동하는 함수를 정의합니다.
        function scrollToBottom() {
            $chatContainer.scrollTop($chatContainer.prop("scrollHeight"));
        }

        // 새로운 채팅이 추가될 때마다 스크롤을 맨 아래로 이동합니다.
        $chatContainer.on('DOMNodeInserted', scrollToBottom);

        // 페이지 로드시에도 맨 아래로 스크롤합니다.
        scrollToBottom();
    });

    $(".remove-chat").on("click", () => {
            axios.delete('/room/{{room.id}}/remove')
                .then(() => {
                    console.log('채팅방을 나갔습니다.');
                    location.href = "http://localhost:4161/room";
                })
                .catch(() => {
                    console.log("채팅방 제거 실패");
                });
    });
</script>