<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/footer.css">
    <script src="https://kit.fontawesome.com/01a517b5c8.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="menu">
    <div class="menu-details">
        <ul>
            <li><i class="fa-solid fa-user fa-xl"></i></li><!-- 내정보-->
            <li><a href="/room"><i class="fa-solid fa-comments fa-xl"></i></a></li><!--채팅-->
            <li><a href="/main"><i class="fa-solid fa-house fa-xl"></i></a></li> <!--홈-->
            <li><a href="/search"><i class="fa-solid fa-bowl-rice fa-xl"></i></a></li><!--맛집검색-->
            <li><i class="fa-solid fa-bars fa-xl"></i></li><!--더보기-->
        </ul>
    </div>
</div>
<!-- 나머지 콘텐츠 -->
</body>
</html>