<head>
    <title>main</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
</head>
{% block content %}
<header>
    {% include 'header.html' %}
</header>
<!--<div class="timeline">
    {% if user %}
    <div>
        <form id="twit-form" action="/post" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <textarea id="twit" name="content" maxlength="140"></textarea>
            </div>
            <div class="img-preview">
                <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
                <input id="img-url" type="hidden" name="url">
            </div>
            <div>
                <label id="img-label" for="img">사진 업로드</label>
                <input id="img" type="file" accept="image/*">
                <button id="twit-btn" type="submit" class="btn">등록</button>
            </div>
        </form>
    </div>
    {% endif %}
    <div class="twits">
        <form id="hashtag-form" action="/hashtag">
            <input type="text" name="hashtag" placeholder="태그 검색">
            <button class="btn">검색</button>
        </form>
        {% for twit in twits %}
        {% set Likers = [] %}
        <div class="twit">
            <div class="twit-author">{{twit.User.nick}}</div>
            {% if not followingIdList.includes(twit.User.id) and twit.User.id !== user.id %}
            <button class="twit-follow">팔로우하기</button>
            {% endif %}
            {% if followingIdList.includes(twit.User.id) and twit.User.id !== user.id %}
            <button class="twit-unfollow">팔로우 끊기</button>
            <button class="twit-chat">대화하기</button>
            {% endif %}
            {% if twit.User.id==user.id %}
            <button class="twit-delete">삭제</button>
            {% endif %}
            {% for item in twit.Liker %}
                {% set Likers=(Likers.push(item.id),Likers) %}
            {% endfor %}
            {% if not Likers.includes(user.id) and twit.User.id !== user.id and user %}
            <button class="twit-like">좋아요</button>
            {% endif %}
            {% if Likers.includes(user.id) and twit.User.id !== user.id and user %}
            <button class="twit-unlike">좋아요 취소</button>
            {% endif %}
            <div class="twit-content">{{twit.content}}</div>
            {% if twit.img %}
            <div class="twit-img"><img src="{{twit.img}}" alt="섬네일"></div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>-->
{% for twit in twits %}
<input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
<input type="hidden" value="{{twit.id}}" class="twit-id">
<div class="feed">
    <div class="main-image">
        <img src="{{twit.img}}"
             alt="" class="mainPic">
    </div>
    <div class="icons-react">
        <div class="icons-left">
            <button class="like_button" onclick="saveLike('${feed_idx}')">
                <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png"
                     alt="좋아요">
            </button>
            <img class="icon-react"
                 src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/comment.png" alt="말풍선">
            <!--                        <img class="icon-react" src="../static/img/dm.png" alt="DM">-->
        </div>
        <img class="icon-react"
             src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/bookmark.png" alt="북마크">
    </div>
    <!-- article text data -->
    <div class="reaction">
        <div class="liked-people">
            <p><span class="like_size">좋아요</span> <span class="point-span">${like_count}개</span></p>
        </div>
        <div class="description">
            <div><span class="point-span userID">{{twit.userid}</span><span class="mycontent${i}">${content}</span></div>
        </div>
        <div class="comment-section">
            <div class="comments" id="commentappend${i}">

            </div>
            <div class="time-log">
                <span>${timeForToday(created_at)}</span>
            </div>
        </div>
    </div>
    <div class="hl"></div>
    <div class="comment">
        <input id="input-comment${i}" class="input-comment" type="text" placeholder="댓글 달기...">
        <button type="submit" class="submit-comment" onclick="saveComment('${i}', '${feed_idx}')">게시</button>
    </div>
    `
    <div class="modal fade" id="exampleModal${i + 10000}" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active" aria-current="true"
                            onclick="police()">
                        신고하기
                    </button>
                    <button type="button" class="list-group-item list-group-item-action"
                            onclick="repost('${feed_idx}')">리포스트
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" onclick="follow('${user_id}')">
                        팔로우 / 팔로우 취소
                    </button>
                    <button type="button" class="list-group-item list-group-item-action"
                            onclick="removefeed('${feed_idx}', '${user_id}')">게시물 삭제
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" data-bs-dismiss="modal">취소
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    //이미지 첨부 기능 script
    if (document.getElementById('img')) {
        document.getElementById('img').addEventListener('change', function (e) {
            const formData = new FormData();
            console.log(this, this.files);
            formData.append('img', this.files[0]);
            axios.post('/post/img', formData)
                .then((res) => {
                    document.getElementById('img-url').value = res.data.url;
                    document.getElementById('img-preview').src = res.data.url;
                    document.getElementById('img-preview').style.display = 'inline';
                })
                .catch((err) => {
                    console.error(err);
                });
        });
    }
    //팔로우 기능 script
    document.querySelectorAll('.twit-follow').forEach(function (tag) {
        tag.addEventListener('click', function () {
            const myId = document.querySelector('#my-id');
            if (myId) {
                const userId = tag.parentNode.querySelector('.twit-user-id').value;
                if (userId !== myId.value) {
                    if (confirm('팔로잉하시겠습니까?')) {
                        axios.post(`/user/${userId}/follow`)
                            .then(() => {
                                location.reload();
                            })
                            .catch((err) => {
                                console.error(err);
                            });
                    }
                }
            }
        });
    });

    //팔로우 끊기 기능 script
    document.querySelectorAll('.twit-unfollow').forEach(function (tag) {
        tag.addEventListener('click', function () {
            const myId = document.querySelector('#my-id');
            if (myId) {
                const userId = tag.parentNode.querySelector('.twit-user-id').value;
                if (userId !== myId.value) {
                    if (confirm('팔로우를 끊으시겠습니까?')) {
                        axios.delete(`/user/${userId}/unfollow`)
                            .then(() => {
                                location.reload();
                            })
                            .catch((err) => {
                                console.error(err);
                            });
                    }
                }
            }
        });
    });
    //게시글 삭제 script
    document.querySelectorAll('.twit-delete').forEach(function (tag) {
        tag.addEventListener('click', function () {
            const postId = tag.parentNode.querySelector('.twit-id').value;
            if (confirm("게시글을 삭제하시겠습니까?")) {
                axios.delete(`/post/${postId}/delete`)
                    .then(() => {
                        console.log("게시글 삭제 성공");
                        location.reload();
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            }
        });
    });

    document.querySelectorAll('.twit-like').forEach(function (tag) {
        tag.addEventListener('click', function () {
            const myId = document.querySelector('#my-id');
            if (myId) {
                const postId = tag.parentNode.querySelector('.twit-id').value;
                console.log("postID" + postId);
                axios.post(`/post/${postId}/like`)
                    .then(() => {
                        location.reload();
                    })
                    .catch((err) => {
                        console.error(err);
                    });
            }
        });
    });

    document.querySelectorAll('.twit-unlike').forEach(function (tag) {
        tag.addEventListener('click', function () {
            const myId = document.querySelector('#my-id');
            if (myId) {
                const postId = tag.parentNode.querySelector('.twit-id').value;
                console.log(postId);
                axios.delete(`/post/${postId}/unlike`)
                    .then(() => {
                        location.reload();
                    })
                    .catch((err) => {
                        console.error(err);
                    });
            }
        });
    });

    document.querySelectorAll('.twit-chat').forEach(function (tag) {
        tag.addEventListener("click", () => {
            const myId = document.querySelector('#my-id');
            if (myId) {
                const opponentId = tag.parentNode.querySelector('.twit-user-id').value;
                console.log(opponentId);
                axios.post('/room/create', {opponentId: opponentId})
            }
        })
    });

    function success(pos) { // 위치 정보를 가져오는데 성공했을 때 호출되는 콜백 함수 (pos : 위치 정보 객체)
        const lat = pos.coords.latitude;
        const lng = pos.coords.longitude;
        console.log(`현위치 : ${lat}, ${lng}`);
    }

    function fail(err) { // 위치 정보를 가져오는데 실패했을 때 호출되는 콜백 함수
        alert('현위치를 찾을 수 없습니다.');
    }

    navigator.geolocation.getCurrentPosition(success, fail);
</script>
{% endblock %}
