<head>
    <title>Document</title>
</head>
{% block content %}
<div>
    <form action="" class="password-find-form" method="post">
        <input type="text" name="nick" placeholder="닉네임"/>
        <input type="text" name="email" placeholder="이메일"/>
        <button> 비밀번호 찾기</button>
    </form>
</div>
<script>
    document.querySelector(".password-find-form").addEventListener("submit",function(e){
        e.preventDefault();
        axios.post("/auth/passwordFind",{
            nickName:e.target.nick.value,
            email:e.target.email.value,
        })
            .then(()=>{
                console.log("비밀번호 초기화 완료")
            })
            .catch((err)=>{
                alert("닉네임 또는 이메일을 잘못 입력하였습니다.");
            })
    })
</script>