<head>
    <title>비밀번호 수정</title>
</head>
[% block content %}
<div>
    <form action="" class="password-edit-form" method="post">
        <input type="text" name="currPassword" placeholder="현재 비밀번호"/>
        <input type="text" name="changePassword" placeholder="변경할 비밀번호"/>
        <input type="text" name="checkPassword" placeholder="변경할 비밀번호 재확인"/>
        <button>비밀번호 변경</button>
    </form>
</div>
<script>
    document.querySelector(".password-edit-form").addEventListener("submit",function(e){
        e.preventDefault();
        if(e.target.changePassword.value===e.target.checkPassword.value){
            axios.post("/auth/passwordInit", {
                currPassword: e.target.currPassword.value,
                changePassword: e.target.changePassword.value,
            })
                .then(()=>{
                    console.log("비밀번호 수정 완료");
                    alert("비밀번호 변경이 완료되었습니다.");
                })
                .catch((err)=>{
                    console.error(err);
                })
        }
    })
</script>