<head>
    <title>채팅목록</title>
    <link rel="stylesheet" href="/chatting.css">
<!--    <link rel="preconnect" href="https://fonts.gstatic.com">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
{% block content %}
<body>
{% include "header.html" %}
<div id="content">
    <div class="chat_list_main">
        <ul>
            {% for room in rooms %}
            <li class="chat-li" data-id="{{room.id}}">
                <a href="/room/{{room.id}}" style="width: 500px; height: 80px;">
                    {% if room.Owner.id==user.id %}
                    <div class="chat-list-profile-div">
                        <img src="/uploads/profiles/{{room.Friend.profileImg}}" class="chat-list-profile-img" alt="프로필 사진">
                    </div>
                    <div class="talk">
                        <p class="friend-name">{{room.Friend.nick}}</p>
                        <p class="chat-content">{{room.Chats[0].chat}}</p>
                    </div>
                    {% else %}
                    <div class="chat-list-profile-div">
                        <img src="/uploads/profiles/{{room.Owner.profileImg}}" class="chat-list-profile-img" alt="프로필 사진">
                    </div>
                    <div class="talk">
                        <p class="friend-name">{{room.Owner.nick}}</p>
                        <p class="chat-content">{{room.Chats[0].chat}}</p>
                    </div>
                    {% endif %}
                    <div class="chat-status">
                        <span>{{room.createdAt}}</span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io.connect('http://localhost:4161/room', { // 네임스페이스
        path: '/socket.io',
    });

    socket.on('newRoom', function (data) { // 새 방 이벤트 시 새 방 생성
        const li = document.createElement("li");
        li.setAttribute('data-id', data.room.id);

        const a = document.createElement('a');
        a.setAttribute('href', `/room/${data.room.id}`);

        const img = document.createElement('img');
        img.setAttribute('src');
        img.setAttribute('class', 'profile-img');
        img.setAttribute('alt', '프로필 사진');
        a.appendChild(img);

        const talkDiv = document.createElement('div');
        talkDiv.setAttribute('class', 'talk');

        const friendName = document.createElement('p');
        friendName.setAttribute('class', 'friend-name');
        friendName.textContent = data.room.friend;
        talkDiv.appendChild(friendName);

        const chatContent = document.createElement('p');
        chatContent.setAttribute('class', 'chat-content');
        chatContent.textContent = data.room.chat;
        talkDiv.appendChild(chatContent);

        a.appendChild(talkDiv);

        const chatStatusDiv = document.createElement('div');
        chatStatusDiv.setAttribute('class', 'chat-status');

        const timeElement = document.createElement('time');
        timeElement.setAttribute('datetime');
        timeElement.textContent = data.room.createdAt;
        chatStatusDiv.appendChild(timeElement);
        a.appendChild(chatStatusDiv);
        li.appendChild(a);

        const chatList = document.getElementById('chat-list');
        chatList.appendChild(li);
    });

    socket.on('removeRoom', function (data) { // 방 제거 이벤트 시 id가 일치하는 방 제거
        document.querySelectorAll('li').forEach(function (li) {
            if (li.dataset.id === data) {
                li.parentNode.removeChild(li);
            }
        });
    });
</script>
{% block script %}
<script>
    window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
            alert(new URL(location.href).searchParams.get('error'));
        }
    };
</script>
{% endblock %}