{% block content %}
<head>
    <title>search</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/search.css">
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
{% include "header.html" %}
<div class='container'>
    <div class="left_container">
        <form id="myPosition" action="/searchPage" method="post">
            <input type="hidden" id="position" name="searchWord" value="" />
            <button id="myPosition_btn" class="btn btn-primary btn-jittery">
                내 주변 맛집
            </button>
        </form>
    </div>
    <div class="search-box-main-container">
        <h1>오늘은 어디로 가볼까요?</h1>
        <div class='search-box-container'>
            <form id="search_form" action="/searchPage" method="post">
                <button class='submit'>
                    <i class='fa fa-search'></i>
                </button>
                <input type="text" id="search_bar" class='search-box' name="searchWord" placeholder="맛집을 입력해주세요"/>
            </form>
        </div>
    </div>

    <div class="right_container">
        <form id="curruntPosition" action="/user/{{userId}}/aroundMyList" method="post">
            <input type="hidden" id="lat" name="lat" value=""/>
            <input type="hidden" id="lng" name="lng" value=""/>
            <button id="curruntPosition_btn" class="btn btn-primary btn-jittery">
                    내 주변 저장 맛집
            </button>
        </form>
    </div>
</div>
{% endblock %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=22382396d3cba032b99b1fcc9ec5b4f1&libraries=services"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    $.fn.toggleState = function (b) {
        $(this)
            .stop()
            .animate(
                {
                    width: b ? "300px" : "50px"
                },
                600,
                "easeOutElastic"
            );
    };

    $(document).ready(function () {
        var container = $(".container");
        var boxContainer = $(".search-box-container");
        var submit = $(".submit");
        var searchBox = $(".search-box");
        var response = $(".response");
        var isOpen = false;
        submit.on("mousedown", function (e) {
            e.preventDefault();
            boxContainer.toggleState(!isOpen);
            isOpen = !isOpen;
            if (!isOpen) {
                handleRequest();
            } else {
                searchBox.focus();
            }
        });
        searchBox.keypress(function (e) {
            if (e.which === 13) {
                boxContainer.toggleState(false);
                isOpen = false;
                handleRequest();
            }
        });
        searchBox.blur(function () {
            boxContainer.toggleState(false);
            isOpen = false;
        });
        function handleRequest() {
            // You could do an ajax request here...
            var value = searchBox.val();
            if (value.length > 0) {
                response.text('Searching for "' + value + '" . . .');
                response
                    .animate(
                        {
                            opacity: 1
                        },
                        300
                    )
                    .delay(2000)
                    .animate(
                        {
                            opacity: 0
                        },
                        300
                    );
            }
        }
    });
    document.getElementById("myPosition_btn").addEventListener("click",(e)=> {
        e.preventDefault();

        function success(pos) { // 위치 정보를 가져오는데 성공했을 때 호출되는 콜백 함수 (pos : 위치 정보 객체)
            getMyPosition(pos.coords.latitude, pos.coords.longitude);
        }

        function fail(err) { // 위치 정보를 가져오는데 실패했을 때 호출되는 콜백 함수
            alert('현위치를 찾을 수 없습니다.');
        }

        navigator.geolocation.getCurrentPosition(success, fail);

        function getMyPosition(lat, lng) {
            console.log(lat, lng);
            var geocoder = new kakao.maps.services.Geocoder();

            var coord = new kakao.maps.LatLng(lat, lng);
            var callback = function (result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    const position = document.getElementById("position");
                    const name = result[0].address.address_name + " 맛집";
                    position.value = name;
                    const myPosition = document.getElementById('myPosition');
                    myPosition.submit();
                }
            };
            geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
        }
    });

        document.getElementById("curruntPosition_btn").addEventListener("click", (e) => {
            const curruntPosition=$("#curruntPosition");
            function success(pos) { // 위치 정보를 가져오는데 성공했을 때 호출되는 콜백 함수 (pos : 위치 정보 객체)
                getMyPosition(pos.coords.latitude, pos.coords.longitude);
            }

            function fail(err) { // 위치 정보를 가져오는데 실패했을 때 호출되는 콜백 함수
                alert('현위치를 찾을 수 없습니다.');
            }

            navigator.geolocation.getCurrentPosition(success, fail);

            function getMyPosition(lat, lng){
                $('input[name=lat]').attr('value',lat);
                $('input[name=lng]').attr('value',lng);
                const myAround=document.getElementById('curruntPosition');
                myAround.submit();
            }
        });
</script>


