{% block content %}
<head>
    <title>search</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/search.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!--    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
</head>
<div class="title-container">
    <h1 class="title">검색해주세요.</h1>
    <h1 class="title-down">찾아볼까요?</h1>
</div>
<fieldset class="field-container">
    <form id="search" action="/searchPage" method="post">
        <input type="text" name="searchWord" placeholder="Search..." class="field" />
        <input type="submit"></input>
    </form>
    <div class="icons-container">
        <div class="icon-search"></div>
        <div class="icon-close">
            <div class="x-up"></div>
            <div class="x-down"></div>
        </div>
    </div>
</fieldset>
<script>
    const field=$('.field');
    $(document).on("ready", function () {
        field.on("focus", function () {
            $("body").addClass("is-focus");
        });

        field.on("blur", function () {
            $("body").removeClass("is-focus is-type");
        });

        field.on("keydown", function (event) {
            $('body').addClass("is-type");
            if (event.which === 8 && $(this).val() === "") {
                $("body").removeClass("is-type");
            }
        });
    });
</script>
{% endblock %}

