.menu-details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu-details ul li {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}

.menu-details ul li a {
    color: #333;
    text-decoration: none;
}
.menu {
    background-color: white;
    padding: 5px 1px 10px 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top:solid 1px #DBDBDB;
    display:block;
}
footer{
    padding-top:10px;
    position:fixed;
}
