@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: "MapoBackpacking";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoBackpackingA.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.nav-bar{
    font-family: "MapoBackpacking", serif;
    position:fixed;
    overflow: auto;
    width:250px;
    height:100%;
    background-color:white;
    z-index: 1;
    float:left;
}
.main-logo{
    width: 230px;
    height:80px;
    margin:auto;
}
.list-box{
    width:230px;
    height:420px;
    margin:auto;
}
.list-box > div{
    width:230px;
    height:75px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #555;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.profile-img {
    width: 40px; /* 이미지의 너비를 적절히 설정합니다. */
    height: 40px; /* 이미지의 높이를 적절히 설정합니다. */
    border-radius: 50%; /* 모서리를 원 형태로 만듭니다. */
    overflow: hidden; /* 모서리를 둥글게 만들 때 초과되는 부분을 잘라냅니다. */
    background-size: cover; /* 배경 이미지를 커버하도록 설정합니다. */
    margin-right:10px;
    border: 2px solid;
    cursor:pointer;
}
.list-box > .list-tag>  a{
    text-decoration: none; /* 밑줄 없애기 */
    color: inherit; /* 링크 색상을 부모 요소의 색상으로 상속 */
}
.list-box > .list-tag{
    padding: 25px 30px 20px 40px;
}
.list-box > .list-tag:hover{
    border-radius:10%;
    cursor:pointer;
    opacity: 1;
    box-shadow:#babebc;
    background-color:#babebc;

}
.main-logo{
    width:230px;
    height:80px;
}