/* main */
@font-face {
    font-family: "MapoBackpacking";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoBackpackingA.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.main {
    margin-left:250px;
    height:100%;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between; /* 자식 요소들을 동등한 간격으로 배치 */
}
article, .section-recommend {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}
article {
    margin-bottom: 60px;
}
.section-recommend {
    height: 300px;
    width: 310px;
    padding: 14px 16px;
    overflow-y: auto;
    margin-bottom: 20px;
}

/* article */
header {
    height: 60px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-of-article {
    display: flex;
    align-items: center;
}

.img-profile {
    width: 32px;
    height: 32px;
    border: 1px solid #fafafa;
    border-radius: 100%;
}
.main-image{
    text-align: center; /* 이미지를 가운데 정렬합니다. */
    margin-bottom: 20px;

}

.main-image img {
    width: 612px;
    height: auto;
}
.main-id {
    margin-left: 14px;
}
.icon-more {
    justify-self: end;
}
.icons-react {
    text-align:center;
    height: 40px;
    width:600px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-react {
    width: 24px;
    height: 24px;
}
.icons-left {
    display: flex;
    align-items: center;
}
.icons-left .icon-react {
    margin-right: 12px;
}
/* article text data */
.reaction {
    margin-top: 15px;
    padding: 0 16px;
}
.liked-people {
    display: flex;
    height: 12px;
    margin: 5px 0 6px 0;
}
.liked-people img {
    display: inline-block;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border: 1px solid #fafafa;
}
.liked-people p {
    display: inline-block;
    color: #262626;
    font-size: 14px;
}
.description {
    display: flex;
    align-items: center;
    font-size:20px;
}
span.at-tag {
    color: #00376B;
}
ul.comments {
    margin-top: 5px;
}
ul.comments li {
    display: flex;
    justify-content: space-between;
    color: #262626;
    font-size: 14px;
}
.comments li div {
    display: flex;
    align-items: center;
}
ul.comments li:hover .comment-more {
    display: inline-block;
}
img.comment-more {
    box-sizing: content-box;
    width: 26px;
    padding: 10px;
    display: none;
    opacity: 50%;
    cursor: pointer;
}
img.comment-heart {
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
}
img.comment-heart-liked {
    width: 12px;
    height: 12px;
    display: none;
    cursor: pointer;
}
div.time-log {
    margin-bottom: 8px;
}
div.time-log span {
    height: 18px;
    font-size: 12px;
    color: #8e8e8e;
}
.hl {
    border-top: 1px solid #DBDBDB;
    width: 600px;
}
.stamp{
    display: inline-block;
    padding-bottom: 5px;
    cursor:pointer;
}
.img-stamp{
    width: 80px;
    height: 70px;
    filter:grayscale(90%);
    opacity: 0.5;
    border-radius: 50%;
}
.img-stamp-active{
    width: 80px;
    height: 70px;
    border-radius: 50%;
}
/* comment input */
.input-comment {
    font-size: 14px;
    width: 450px;
    height: 18px;
    padding: 28px 16px;
    padding-left: 20;
    border-style: none;
    box-sizing: border-box;
    color: #262626;
    background-color: rgba( 255, 255, 255, 0.5 );
}
.input-comment:focus {
    outline: none;
}
.input-comment::placeholder {
    color: #8e8e8e;
}
button.submit-comment {
    color: #0095f6;
    background-color: #fff;
    border-style: none;
    height: 40px;
    width: 40px;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.5);
}
.submit-comment:disabled {
    color: #B9DFFC;
}
button.submit-comment:focus {
    outline: none;
}
/* main-right */
.myProfile {
    height: 56px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 12px;
    display: flex;
    align-items: center;
}
.myProfile img {
    width: 56px;
    height: 56px;
}
.myProfile div {
    display: inline-block;
    margin-left: 14px;
}
.myProfile div span {
    display: block;
}
.myProfile div span.userID {
    margin-bottom: 4px;
    font-size:14px;
}
/* story & recommendation */
.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.sub-title {
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;
}
.find-more {
    font-size: 12px;
    font-weight: 600;
    color: #262626;
}
.story-list li, .recommend-list li {
    display: flex;
    align-items: flex-start;
}
ul.story-list img.story {
    box-sizing: content-box;
    border: 2px solid #fff;
}
div.gradient-wrap {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91);
}
ul.story-list .profile-text {
    margin-top: 3px;
}
.profile-text {
    display: inline-block;
    margin: 0 0 10px 8px;
}
.profile-text span {
    display: block;
}
.profile-text span.userID {
    margin-bottom: 2px;
}
.recommend-list li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.btn-follow {
    padding-top: 7px;
    color: #0095f6;
    font-weight: 600;
    font-size: 12px;
}
.recommend-friend-profile {
    display: flex;
    align-items: flex-start;
}

.like_button {
    width: 20px;
    height: 20px;
    all: unset;
}

.morebutton{
    width: 27px;
    height: 27px;
    margin-left: 15px;
    all: unset;
}

.toseemore{
    color: #8e8e8e;
    text-decoration: underline;

}

.addfeed_ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addfeed_li{
    height: 40px;
    width: 340px;
    border-bottom-color: #8a8a8a;
    align-self: center;
}

.addfeed_li2{
    height: 340px;
    width: 340px;
    outline: 2px;
    outline-color: #8a8a8a;
}

.btnfeedadd{
    width:350px;
    border: 1px solid black;
    background-color: rgba(0,0,0,0);
    color:black;
    padding: 5px;
    border-radius: 3px;
}

.textfeed{
    width:350px;
    border-color: black;
    border: 1px solid black;
    border-radius: 3px;
    height: 35px;
}

.real-upload {
    margin-top: 30px;
    height: 305px;
    vertical-align: middle;
    border: 1px solid black;
    width: 350px;
    color: black;
    border-radius: 3px;
    bookmark-label: none;
    background-image: url('../img/feedadddd.png');
    background-size: cover;
}
input[type=file]::file-selector-button {
    display: none;
}
.feedaddtitle {
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.left-container{
    width:30%;
    display:flex;
}
.weather-container{
    width: 200px; /* 너비 설정 */
    height: 150px; /* 높이 설정 */
    background-color: #f0f0f0; /* 배경색 설정 */
    border-radius: 20px; /* 둥근 모서리 설정 */
    padding: 4px; /* 내부 여백 설정 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    margin-top:40px;
    position: fixed;
    margin-left:30px;
}
.right-container{
    width:421px;
    display:inline-block;
}
.center-container {
    width:865px;
    height:100%;
    display:inline-block;
    margin:auto;
}
.feed-container{
    margin-left:140px;
    width:600px;
    margin-top:55px;
}
.right-box{
    height:200px;
    background: #00376B;
    width:300px;
    margin:auto;
}
.CurrIcon{
    font-size: 1.2rem;
    text-align: center;
    margin-right:10px;
}
.CurrTemp {
    font-size: 1.2rem;
    text-align: center;
    margin-right: 10px;
    margin-top:20px;
}
.CurrTemp_max, .CurrTemp_min{
    font-size: 0.9rem;
    text-align: center;
    margin-right:10px;
}
.CurrIcon{
    margin-right:10px;
}
.City{
    font-size:1.5rem;
    text-align:center;
    margin-right:10px;
}
.weather-box{
    margin-left: 5px;
    text-align: center;
    display: inline-block;
    height: 100px;
    padding-top: 50px;
    width: 60px;
}
.Temp_container{
    display:inline-block;
}
.img-box{
    width:300px;
    height:300px;
}

.profile-box{
    padding: 10px;
    border: 2px solid #2035a7;
    box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babebc;
    font-weight: bold;
}

.profile-box > div {
    display: inline-block; /* 자식 요소들을 가로로 정렬합니다. */
    vertical-align: middle; /* 세로 정렬을 가운데로 설정합니다. */
}

.feed-profile-img {
    width: 40px; /* 이미지의 너비를 적절히 설정합니다. */
    height: 40px; /* 이미지의 높이를 적절히 설정합니다. */
    border-radius: 50%; /* 모서리를 원 형태로 만듭니다. */
    overflow: hidden; /* 모서리를 둥글게 만들 때 초과되는 부분을 잘라냅니다. */
    background-image: url('your_image_url.jpg'); /* 이미지 경로를 설정합니다. */
    background-size: cover; /* 배경 이미지를 커버하도록 설정합니다. */
    margin-right:10px;
    cursor:pointer;
}
.feed-content{
    display:flex;
    font-size:15px;
}
#profileModal{
    margin-top: 30px;
}
.input-search {
    width: 300px;
    height: 12px;
    padding: 10px;
    box-sizing: content-box;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAACI0lEQVRIie2Uv2sTcRjGP+/lKqZNLUVrp2wq/mhBJxddWnF0SOsVEhpwKEUCgv9A5zgLocGtUq+cQZCMWg/r5FAQWkFXaatEEfxRhFzu+zqkwZL2rqeufZY7eO95Pt/vA/fCoQ6QRA08z0sHoc4IMqlwDugHNgVZVqPVQsFZ/WeA69YuG8xjIBvhU5DKz+9f787OzgZxACsi3AeyCq8Vcq2mfWJwIHNU1BpRpQz8Ai31Hxt8pKqRLey5QbsW3gNZFa0esaTkOE7YbVpc9C5i8Rw4LiqlfP5mJdENglBnOiePCgcoFJw3onoLQEXnfN+3EwEEmdx5vRcV3lE+P1VHWAOGtxqNq4kACucBwqa9Ehf+xyArO88LiQBAH4Ax37YT5av+ABDIJAVsAaTS6VNJACKcaYPYTAYQfQFgGatwULjneUPAdcCEKV4mA4QyD6gId1y3dinKpKoShNynXU296DgfEgHav79UgF6DefbQ9W7sd/LFpdoSMAWgYspR4bDPqqhWqz2ZgUEXZWLnizVUVkTMNiqntV1L3y7L2zCwx4rFXCMRANoVuG7ttorOAcNdYwPUVUzZUuuBwkgcJHaP+L5vb3z6ciWljKqYXsTaCC191el8YeHJSbuntawwIrDeCuzxbkgsIIk8zxsKDMsoo8A700qNTU9PfOzM92zTv5XjOJ/Dpn1NYB04a9nh093z/wYAFIu5RiuwxxFWgdgddqg9+g0TJuLzCuoJngAAAABJRU5ErkJggg==");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 38% center;
    text-indent: 10%;
    font-size: 14px;
    margin-top:10px;
}
.input-search:focus {
    background-position: 4% center;
    outline: none;
}
.input-search::placeholder, .input-search:not(:focus) {
    text-align: center;
    vertical-align: center;
    font-weight: 300;
    font-size: 14px;
    color: #8e8e8e;
}
.input-search:focus::placeholder {
    text-align: start;
}
.input-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center left;
    background-image: url('../img/cancel.png');
}
.followings-half{
    display: inline-block;
    width: 48%;
}
.followers-half{
    display: inline-block;
    width: 48%;
}
.nav-2{
    text-align: center;
    margin-bottom: 25px;
    position: fixed;
    z-index: 2;
    margin-left:300px;
}
.comment-profile-img{
    width: 35px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.comment{
    padding-top: 5px;
    font-size: 13px;
}